/* Estilo General del Body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Contenedor Principal */
.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

/* Título del Formulario */
h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos de los Formularios */
form {
    display: flex;
    flex-direction: column;
}

/* Estilos de las Entradas de Formulario */
input[type="email"], input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón Principal */
button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a54e1;
}

/* Enlaces */
a {
    color: #5c67f2;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}
