<!-- historial_asistencia.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Asistencia</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'directora/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'directora/css/ver_empleados.css' %}">
    <link rel="shortcut icon" href="{% static 'inicio/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="container mt-5">
        <h2>Historial de Asistencia</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Fecha</th>
                    <th>Hora de Entrada</th>
                    <th>Hora de Salida</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for asistencia in asistencias %}
                    <tr>
                        <!-- Prueba mostrar directamente el objeto empleado -->
                        <td>{{ asistencia.empleado }}</td>
                        <td>{{ asistencia.fecha }}</td>
                        <td>{{ asistencia.hora_entrada|default:"-" }}</td>
                        <td>{{ asistencia.hora_salida|default:"-" }}</td>
                        <td>{{ asistencia.estado }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No hay registros de asistencia.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'menu_asistencia' %}" class="btn btn-secondary mt-3">Regresar al Menú</a>
    </div>
    <script src="{% static 'inicio/js/scripts.js' %}"></script>
</body>
</html>
