<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Asistencia</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'directora/css/estilos.css' %}">
    <link rel="shortcut icon" href="{% static 'inicio/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src="{% static 'inicio/images/DMMLOGO.png' %}" alt="Logo" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if rol == 'Directora' %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'empleados' %}">Empleados</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'dashboard_proyectos'%}">Dashboard Directora</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'menu_gestion_proyectos' %}">Gestión de Proyectos</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'reporte_proyectos' %}">Reportes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'menu_tareas' %}">Asignar Tareas</a></li>
                {% elif rol == 'Asistente' %}
                    <li class="nav-item"><a class="nav-link" href="#">Asistencia</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Documentos</a></li>
                {% elif rol == 'Técnica de Campo' %}
                    <li class="nav-item"><a class="nav-link" href="#">Campo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Informes</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#">Menú por Defecto</a></li>
                {% endif %}
                <!-- Botón de Cerrar Sesión -->
                <li class="nav-item">
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger ml-2">Cerrar Sesión</button>
                    </form>
                </li>
                <!-- Modo Oscuro Toggle Switch -->
                <li class="nav-item ml-3">
                    <div class="custom-switch">
                        <input type="checkbox" id="darkModeSwitch" class="toggle-switch">
                        <label for="darkModeSwitch" class="switch-label">Modo Oscuro</label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Menú de Asistencia</h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="https://dmmblobstorage.blob.core.windows.net/iconos/Entrada.png?sp=r&st=2024-10-15T01:34:00Z&se=2024-12-07T09:34:00Z&sv=2022-11-02&sr=b&sig=Er06Wx9OoyEtdMTh8N6EQNkfJMIcaSouxUDzxSGvwW8%3D" alt="Logo" style="height: 50px;">
                        </div>
                        <h5 class="card-title">Registrar Entrada</h5>
                        <p class="card-text">Registra tu hora de entrada al sistema.</p>
                        <a href="{% url 'registrar_entrada' %}" class="btn btn-add">Registrar Entrada</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="https://dmmblobstorage.blob.core.windows.net/iconos/salida%20(1).png?sp=r&st=2024-10-15T01:36:27Z&se=2024-12-07T09:36:27Z&sv=2022-11-02&sr=b&sig=%2FEJWEWsO3F60pf8zYMMlpDalY04wcwULmg5y06L5S8c%3D" alt="Logo" style="height: 50px;">
                        </div>
                        <h5 class="card-title">Registrar Salida</h5>
                        <p class="card-text">Registra tu hora de salida del sistema.</p>
                        <a href="{% url 'registrar_salida' %}" class="btn btn-add">Registrar Salida</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="https://dmmblobstorage.blob.core.windows.net/iconos/Historial%20de%20asistencia.png?sp=r&st=2024-10-15T01:32:38Z&se=2024-12-07T09:32:38Z&sv=2022-11-02&sr=b&sig=erk5FhD8hcqohXgt1Omra92DPwvepmJ7tDSlLhCzMnk%3D" alt="Logo" style="height: 50px;">
                        </div>
                        <h5 class="card-title">Ver Historial</h5>
                        <p class="card-text">Consulta tu historial de asistencias.</p>
                        <a href="{% url 'historial_asistencia' %}" class="btn btn-view">Ver Historial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'inicio/js/scripts.js' %}"></script>
</body>
</html>
